@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


.naverMapWhere {
  border: 1px solid black;
  margin-top: 20px;
  font-family: 'Nanum Gothic',
  sans-serif;
}

.howToComeText {
  font-size: 15px;
  line-height: 20px;
  word-break: keep-all;
  margin-top: 20px;
  font-family: 'Nanum Gothic',
  sans-serif;
}

.openNaverMap {
  display: inline-block;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.where {
  height: 100vh;
}
.mapImg{
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .howToComeText {
    margin-top: -20px;
    width: 100%;
  }
}