.dropdown-menu {
  z-index: 99;
  min-width: 170px;
  position: absolute;
  top: 50px;
  list-style: none;
  text-align: start;
  background-color: rgb(254, 255, 244);
  border-top: 5px solid #e0b722;
  font-size: 18px;
}

.dropdown-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 20px;
  color: black;
  border-bottom: 1px solid #e0b72228;
  transition: .5s;
}

.dropdown-menu li:last-child {

}

.dropdown-menu li:hover {
  color: #e0b722;
  padding-left: 20px;
  transition: .5s;
}

.dropdown-menu.clicked {

}

.dropdown-link {

}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    top: 53px;
  }
}
